
<ion-view view-title='一键上传'>
<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button button-clear ion-chevron-left" ng-click="myGoBack()"></button>
  </div>
  <h1 class="title">一键上传</h1>
</ion-header-bar>
	<ion-content class='has-footer'>
		<!-- <img src="img/banner.jpg" alt=""> -->
		<div class="padding">
			<label class='label' for="">上传时间</label>
			<input class='input' type="datetime-local" ng-model='remoteTime' disabled='true'>
			<div class="list noborder">
				<div class="item item-avatar">
					<img src="img/PNG/location-arrow.png" alt="">
					<h2>上报位置<span ng-click='getGps()' class='fr positive'>自动定位</span></h2>
					<p>{{address}}</p>
				</div>
			</div>
		</div>
				
		<div data-tap-disabled="true">
			<div style="height:200px;margin:10px;" id="bmap"></div>
		</div>
		<app-map style="height:300px;margin:10px;display:none;" address="{{address}}"></app-map>
		<div class="padding">
			<label class='label'>违法车辆号牌种类（必选）</label>
			<select name="" class='select'
					ng-options='car.name for car in cars' 
					ng-model='choiceCar'
					></select>
			<label class='label'>违法车辆车牌号码（必选）</label>
			<input type="text" class='input' placeholder='请输入违法车辆车牌号码'>
			<label class="label">违法行为（必选）</label>
<!-- 			<div class='button-group'>
				<span class="button button-small button-stable" ng-repeat='item in weifa'>{{item}}</span>
			</div> -->
			<div class="checkbox-group">				
				<label ng-repeat='item in weifa' ng-class='{checked:item.checked}'>
					<input type="checkbox" ng-model='item.checked' ng-checked='item.checked'>{{item.name}}
				</label>
			</div>
			<label class='label'>其他违法行为</label>
			<input type="text" class='input' placeholder='请描述其他违法行为'>
			<label class='label'>上传照片</label>
			<div class='uppic'>
				<a ng-click='getpic($event,"i1")' >
					<img ng-src="{{img.i1}}" alt="">
				</a>
				<a ng-click='getpic($event,"i2")'>
					<img ng-src="{{img.i2}}" alt="">
				</a>
				<a ng-click='getpic($event,"i3")'>
					<img ng-src="{{img.i3}}"  alt="">
				</a>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-stable bar-btn">
	  	<button ng-click='submit()' class="button button-block button-positive">完成</button>
	</ion-footer-bar>	
</ion-view>