
<ion-view view-title='随手拍'>
<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button button-clear ion-chevron-left" ng-click="myGoBack()"></button>
  </div>
  <h1 class="title">随手拍</h1>
</ion-header-bar>
	<ion-content>
		<img src="img/banner.jpg" alt="">
		<div class="row text-center" >			
			<a class="col" href='#/paixuncha' nav-direction="forward" >
				<img src="img/PNG/cab.png" alt="">
				<h5>交警巡查</h5>
			</a>	
			<a class="col" href='#/paijubao' nav-direction="forward">
				<img src="img/PNG/camera.png" alt="">
				<h5>违法举报</h5>
			</a>				
			<a class="col" href='#/paishangchuan' nav-direction="forward">
				<img src="img/PNG/cloud-upload.png" alt="">
				<h5>一键上传</h5>
			</a>				
			<a class="col" href='#/pailishi' nav-direction="forward">
				<img src="img/PNG/clock-o.png" alt="">
				<h5>历史举报</h5>
			</a>				
		</div>
		<div class="list">
			<div class="item">
				<h4>如何进行违法举报</h4>				
			</div>
		</div>	
	</ion-content>
</ion-view>


