<ion-view >
	<ion-header-bar align-title="center" class="bar-positive">
		<div class="buttons">
			<button class="button button-clear ion-chevron-left" ng-click="myGoBack()"></button>
		</div>
		<h1 class="title">事故处理</h1>
	</ion-header-bar>
	<ion-content class='padding'>
		<div class="row">
			<div class="col assertive">
				<p>温馨提示：您拍摄的现场事故图片将上传到交管和保险公司平台，作为事故现场证据留存</p>
			</div>
		</div>
		<div class='row text-center' style='margin-top:20px;'>
			<div class="col">
				<img src="img/multicar.png" style='width:auto;height:60px;' alt="">
				<a href='#/sgclm' nav-direction="forward" class='button button-block button-positive'>多车事故</a>				
			</div>
		</div>
		<div class="row text-center">
			<div class="col">
				<img src="img/singlecar.png" style='width:auto;height:60px;' alt="">
				<a href='#/sgcls' nav-direction="forward" class='button button-block button-positive'>单车事故</a>				
			</div>
		</div>
	</ion-content>
</ion-view>