<ion-view name='tab-search' title='信息查询'>
	<ion-content class='padding'>
		<div class="button-bar">
			<button ng-click='toggle($event,tab1)' class="button icon-left ion-person" ng-class='{act: tab1}'>驾驶员信息查询</button>
			<button ng-click='toggle($event,tab2)' class="button icon-left ion-model-s" ng-class='{act: tab2}'>车辆信息查询</button>
		</div>
		<div class="grid" ng-show='tab1'>
			<form name='drv' ng-submit='driverForm()'>
				<div class="input-group">
					<input type="text" placeholder='驾驶员号码' name='drvNum' ng-model='drvNum'>
					<input type="text" placeholder='驾驶证档案编号' name='drvDaNum' ng-model='drvDaNum'>
					<button type="submit" class='button button-block button-positive'>查询</button>	
				</div>
			</form>
			<div class='card' ng-show='drvName'>
				<div class="item item-text-wrap">					
					<p>姓名：{{drvName}}</p>
					<p>性别：{{drvSex}}</p>
					<p>国籍：{{drvNation}}</p>
					<p>出生日期：{{drvBirth}}</p>
					<p>初次领证日期：{{drvFirstdate}}</p>
					<p>准驾车型：{{drvAllow}}</p>
					<p>有效期限：{{drvExp}}</p>
				</div>
			</div>
		</div>

		<div class="grid" ng-show='tab2'>
			<form name='car' ng-submit='carForm()'>
				<div class="input-group">
					<input type="text" placeholder='车牌号' name='carNum' ng-model='carNum'>
					<input type="text" placeholder='发动机号' name='carEgNum' ng-model='carEgNum'>
					<input type="text" placeholder='车架号' name='carCjNum' ng-model='carCjNum'>
					<button class='button button-block button-positive' type='submit'>查询</button>
				</div>
			</form>
			<div class="card" ng-show='carStatus'>
				<div class="item item-text-wrap">
					<p>所有人：{{carOwner}}</p>
					<p>车辆类型：{{carModel}}</p>
					<p>初次领证日期：{{carFirstdate}}</p>
					<p>车牌号：{{carNum}}</p>
					<p>发动机号：{{carEgnum}}</p>
					<p>车辆识别代号：{{carKnownum}}</p>
					<p>状态：{{carStatus}}</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>