<ion-view view-title="用户中心">
  <ion-content class='account'>
		<div class="userHead">
			<div class="header">
				<a class="link" href="#login" nav-direction="forward" >
					<img src="./img/default.png" alt="">
					<span>登录</span>						
				</a>
			</div>
		</div>
		<div class="list">
			<a class='item item-icon-left'><i class="icon ion-ios-navigate-outline"></i>位置轨迹</a>
			<a class='item item-icon-left'><i class="icon ion-ios-list-outline"></i>巡查日志</a>
			<a class='item item-icon-left'><i class="icon ion-ios-star-outline"></i>处理结果</a>
			<a class='item item-icon-left'><i class="icon ion-ios-flag-outline"></i>岗位职责</a>
		</div>
		<div class="padding">
			<button class="button button-block button-assertive" ng-click='loginOut()'>退出</button>
		</div>  
  </ion-content>
</ion-view>
