/* Empty. Add your own CSS if you like */
@import url("icomoon.css");

a{color: #333;text-decoration: none;}
a.link{}
img{max-width: 100%;height: auto;}
.padding0{padding: 0;}
.text-center{text-align: center;}
.fr{float: right;}
.tab-title{font-size: 14px;}
.item-input{padding: 6px 6px 5px 16px;}
.label{line-height: 1.5em;}
input.input{border: 1px solid #ccc;border-radius: 3px;width: 100%;margin: 4px 0;padding: 8px;}
select.select{width: 100%;padding: 8px;margin: 4px 0;border-radius: 3px;}
input[type=range]{width:300px}
input[type=data]:disabled{-webkit-appearance:none;}
.button-group .button{margin-right: 10px;margin-bottom: 10px;}

ul[rn-carousel]{overflow:hidden;padding:0;white-space:nowrap;position:relative;-webkit-perspective:1000px;-ms-perspective:1000px;perspective:1000px;-ms-touch-action:pan-y;touch-action:pan-y}
ul[rn-carousel]>li{
	color:#000;
	-webkit-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:visible;
	vertical-align:top;
	position:absolute;
	left:0;
	right:0;
	white-space:normal;
	padding:0;
	margin:0;
	list-style-type:none;
	width:100%;
	height:100%;
	display:inline-block;
}
ul[rn-carousel-buffered]>li{display:none}
ul[rn-carousel-transition=hexagon]{overflow:visible}
div.rn-carousel-indicator span{cursor:pointer;color:#666}
div.rn-carousel-indicator span.active{color:#fff}
.rn-carousel-control{-webkit-transition:opacity .2s ease-out;transition:opacity .2s ease-out;font-size:2rem;position:absolute;top:40%;opacity:.75;cursor:pointer}
.rn-carousel-control:hover{opacity:1}
.rn-carousel-control.rn-carousel-control-prev{left:.5em}
.rn-carousel-control.rn-carousel-control-prev:before{content:"<"}
.rn-carousel-control.rn-carousel-control-next{right:.5em}
.rn-carousel-control.rn-carousel-control-next:before{content:">"}
.slide{position:relative;}
.slide>ul{min-height: 200px;}
.slide img{width: 100%;height: auto;display: block;}
.carouselIndex{background:rgba(0,0,0,.5);position:absolute;bottom:0;width:100%;left:0;right:0;top: 0;margin: auto;height:20px;margin-bottom: 0;text-align: center;}
.rn-carousel-indicator span{font-size: 20px;}

/*.col-2{padding: 6px 0;background: #eee;overflow: hidden;}
.col-2 .item{width: 50%;float: left;text-align: center;}
.col-2 .item .block{background: #1A9B4B;padding: 10px;margin: 0 4px;border-radius: 5px;color: #fff;}
.col-2 .item .block a{color: #fff;}
.col-2 .item:nth-child(odd) .block{ 	background: #558ED8;  }
*/
.row{background: #fff;overflow: hidden;}
.gridView{  text-align: center;position: relative;font-size: 25px;}
.gridView .item-2{width: 50%;float: left;position: relative;box-sizing:border-box;padding: 20px 10px;}
.gridView .item-3{width: 33.33%;float: left;position: relative;padding: 20px 10px;}

.gridView i{font-size: 30px;font-weight: bold;}
.gridView .item-2:first-child i{color:#B26C4C;}
.gridView .item-2 i{color:#FFCEB7;}
.gridView .item-3:first-child i{color:#3AB2A6;}
.gridView .item-3 i{color:#FFAC86;}
.gridView .item-3:last-child i{color:#D3FFFA;}

.gridView:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.gridView .item-2:before,
.gridView .item-3:before{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.gridView .item-2:after,
.gridView .item-3:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.gridView .grid-4{
  width: 25%;display: inline-block;text-align: center;float: left; margin-top: 10px;
}

.gridView .grid-3{
  width: 33.33%;display: inline-block;text-align: center;float: left;margin-top: 10px;
}



.button.act{
  background-color: #0088d1;color: #fff;
}
.input-group{
    border: 1px solid #ccc;padding: 10px;margin-top: 4px;
}
.input-group input{border-bottom: 1px solid #ccc;width: 100%;margin: 4px 0;}



.account .userHead{
    width: 100%;color: #fff;position: relative;
    background: url(http://m.360buyimg.com/mobilecms/jfs/t2896/41/2230699588/27757/b18ed286/575e6478Ndde43dd8.png);
}
.account .userHead .header{
    height: 150px;  text-align: center;
}
.account .userHead .header .link span{display: block;color: #fff;}
.account .userHead .header img{
    width: 56px;height: 56px;border-radius: 50%;margin-top: 40px;clear: both;
}


.weather{font-size: 10px;height: 50px;position: relative;overflow: hidden;border-radius: 0;}
.weather p{margin: 0;line-height: 20px;}
.weather img{
    padding: 5px;margin-top: 4px; float: left;
    border-radius: 20px;background-color: #A5D1EA;width: 40px;height: 40px;
}
.weather div.info{
    text-align: left;position: absolute;left: 60px;top:4px;
}

/*.index-btn{
    margin:0;position:relative;padding:0;border-radius: 0;color:#fff;
}
.index-btn:after{
    content:'';position:relative;width:100%;display:block;

}
.index-btn.left:first-child{margin:0;}
.index-btn.right:after{}
.index-btn.right{}
.index-btn.right:last-child{margin: 0;}

*/
/*一键上传*/
.uppic{padding: 10px 0;}
.uppic > a{background-color: #eee;padding: 4px; border-radius: 5px;margin-right: 8px;display: inline-block;min-width: 40px;max-width: 30%;}
.uppic img{width: 100%;height: auto;}
.checkbox-group {margin:4px 0;}
.checkbox-group label{position:relative;border:1px solid #f8f8f8; background-color: #f8f8f8;padding:6px 8px;margin:0 8px 8px 0;display:inline-block;font-size: 12px;}
.checkbox-group label.checked{background-color: #eee;border-color: #EF4E3A;color:#EF4E3A;}
.checkbox-group label input[type=checkbox]{-webkit-appearance:none;}
.checkbox-group label input[type=checkbox]:checked:after{}
.checkbox-group label input[type=checkbox]:checked{}

/*事故处理*/
.shiguchuli .scroll-content{background-color: #F5F5F5;}
.shiguchuli .row{background-color: #F5F5F5;}
.shiguchuli .row .col .imgbox{padding:0 10px;overflow: hidden;}
.shiguchuli .row .col img{float: left;}
.shiguchuli .row .col h5{text-align: center;font-weight: 800;margin-top: 4px;}
.shiguchuli .row .col h5 .btn{margin-left: 10px;}
.shiguchuli .row .col h5 .btn .icon{font-size: 20px;}

.bar-btn{height: 50px;}
.bar-btn .button{margin-top: 4px;}
